@import url(https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  margin: 0;
  padding: 0;
  background: url("https://github.com/BraveSirOingo/BraveSirOingo.github.io/blob/main/img/OzBG.jpg?raw=true") no-repeat center fixed;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}

.fullscreen{
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

p {
  font-family:'Playfair Display';
  font-size: 1.8em;
  height: 150px;
}

h1 {
  margin-bottom: 5px;
}
h3 {
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 50px;
}

.col-xs-7 > a {
  margin: 0 20px;
}

span {
  color: #555;
  letter-spacing: 2px;
  font-family: 'Playfair Display';
}

.info-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
}

#info {
  width: 30px;
  height: 30px;
  padding-top: 4px;
  font-size: 20px;
  line-height: 1;
  border-radius: 50%;
  margin: 10px;
  font-family: 'Playfair Display';
}
